/*--------------------------------------------------------------
# Nomal-prodcut
--------------------------------------------------------------*/

#portfolio-details .goBuy{
    background-color: #eb5b1e;
    color: white;
    border-radius: 10px;
    width: 100px;
}

#portfolio-details .goBack{
    background-color: #e0d5d0;
    border-radius: 10px;
    width: 100px;
}