{% extends 'base-inner.html' %}
{% block title %}賣家新增商品頁面{% endblock title %}
{% block content %}


<main id="main">
    <!--標題-->
    <section id="npa-title" class="npa-title pb-0"> 
        <div class="container ">
            <div class="row ">
                <div class="col text-center">
                    <h2>建立商品</h2>
                    <p>建立您想建立的商品</p>
                </div>
            </div>
        </div>
    </section>
    <!--主體-->
    <section id="nomal-product-add " class="nomal-product-add pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md col-lg bg-light border text-center" style="align-items: center;">
                    <br><br><br><br><br>
                    <input id="img" type="file" required="required" class="text-center">
                </div>
                <div class="col-md col-lg text-center">
                  <input type="text" placeholder="輸入商品名稱" id="name" required="required" class="border-0 form-control bg-light">
                  <textarea placeholder="輸入商品簡介" id="description" class="border-0 bg-light form-control mt-2" style="resize: none;height: 12rem;" ></textarea>
                  <input type="text" placeholder="輸入商品金額" id="price" required="required" class="border-0 form-control bg-light mt-2">
                  <input type="text" placeholder="輸入商品數量" id="unit" required="required" class="border-0 form-control bg-light mt-2">
                  <button class="btn btn-success mt-2" id="output-btn"><h5 class="text-white">建立商品</h5></button>
                </div>
            </div>
        </div>

    </section>
</main>


{% endblock content %}

{% block script %}
<script src="{{ url_for('static',filename='js/nomal-product-add.js')}}"></script>
{% endblock script %}