{% extends 'base-inner.html' %}
{% block title %}常態商品內頁{% endblock title %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!--
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section>-->
    <!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ url_for('static',filename='img/portfolio/cake.png')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ url_for('static',filename='img/portfolio/cake.png')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ url_for('static',filename='img/portfolio/cake.png')}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-5">
              <div class="row">
                <div class="col portfolio-info">    
                    <h1>常態蛋糕</h1>
                    <ul>
                      <li><strong>尺寸</strong>: 6吋</li>
                      <li><strong>有效期限</strong>: 01 March, 2020</li>
                      <li><strong>製作人</strong>: 陳年薪</li>
                      <li>
                          <strong>商品資訊</strong>
                          : 請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                            請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷請乖乖吃完唷
                      </li>
                      
                    </ul>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 text-center">
                    <a href="" class="btn goBuy scrollto">去訂購</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="" class="btn goBack scrollto">回上一頁</a>
                </div>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}